name: GeoLocation CI Pipeline

on:
  push:
    branches: [ main , jj]
  pull_request:
    branches: [ main ]

jobs:
  run-pytests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt


      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          path: my-resume-app.py/
          name: test-results
  docker-build:
    runs-on: ubuntu-latest
    needs: run-pytests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build Docker image
        run: |
          docker build -t resume:latest .
          docker run aquasec/trivy image python:3.4-alpine
          docker run aquasec/trivy sbom alpine:3.15

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          path: my-resume-app.py/
          name: test-results
      - name: List downloaded files
        run: ls -R my-resume-app.py/
  